/*tab-contact.html */
.contact-ion-list{
	border-left: none !important;
	border-right: none !important;
}
.contact-list{
	border-left:none !important;
	border-right:none !important ;
/*	border-bottom: 5px solid #ddd;
*/	padding-top: 10px !important;
	height: 60px;
	float: left;
}

.contact-list-img{
	float: left;
	width: 40px;
	height: 40px;
	overflow: hidden;
}

.contact-list-img img{
	max-width: 40px;
	/*height: 30px;*/
}

.contact-content{
	padding-left: 10px;
	display:table;
	position: static;
}

.contact-content p{
	display:table-cell;
    vertical-align:middle;
	overflow: hidden;
	white-space:nowrap;
	font-size: 15px;
	position: static;
}

