/* Empty. Add your own CSS if you like */
.friendcircle-title{
	margin-top: -5px !important;
	margin-bottom: 5px !important;
}

.friendcircle-answer-tab{
	text-align:right;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.friendcircle-answer-tab a{
	color:rgba(79, 145, 247, 0.59);
}

.friendcircle-choose{
	background-color:#444;
	height:80px;
	color:white;
	font-size:8px;
	margin-right:5px;
	padding:8px 10px;
	border-radius:5px;
 	/* display:none; */ 
}

.friendcircle-choose >a{
	padding:0px 5px;
	color:#fff;
	text-decoration: none;
}


.friendcircle-choose >span >i{
	padding:0px 5px;
}

.friendcircle-answer{
	background-color:#F0F3F8;
	margin-top: -16px !important;
}

.friendcircle-first-p{
	border-bottom:1px solid #ddd;
	margin-bottom: 0px !important;
}
.friendcircle-first-p i{
	color:#387ef5;
	margin-left:5px;
}

.friendcircle-first-p a{
	color:#387ef5;
	margin-right:5px;
}

.friendcircle-answer-body{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-left:5px;
}

.friendcircle-answer-body > a{
	color:#387ef5;
}

.friendcircle-row{
	margin-left:0px !important;;
	padding-left:0px !important;;
}

.friendcircle-cell-list{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	text-align:center;
	width:100%;
	
}

.friendcircle-cell-1{
	float:left;
	padding:5px;
	margin:0px;
	display:inline-block;
	max-width:100%;
}

.friendcircle-cell-2{
	float:left;
	padding:5px;
	margin:0px;
	display:inline-block;
	max-width:50%;
}

.friendcircle-cell-3 {
	float:left;
	padding:5px;
	margin:0px;
	display:inline-block;
	max-width:33.33333%;
}

