/*personalhomepage.css*/
.personalhomepage_sign{
	margin-top: 20px;
	float: right;
	margin-right:10px;
	color: #666;
	font-size: 80%; 
}

.personal_homepage_list{
	border: none !important;
	margin-top: 25px !important;
}

.personal_homepage_time{
	color: #000;
	float: left;
	/*position: absolute;
	left: 0;*/
}

.personal_homepage_time .date{
	font-size: 150%;
	font-weight: 900;
}

.personal_homepage_time .month{
	font-size: 70%;
	margin-left: -3px !important;
}

.personal_homepage_time_pic{
	margin-top: 0px;
	width: 80px;
	height: 80px;
	margin-left: 50px;
}

.personal_homepage_cell_list{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	text-align:center;
	width:100%;
}

.personal_homepage_cell_1{
	float:left;
	margin-left:-5px;
	display:inline-block;
	max-width:100%;
}

.personal_homepage_cell_2{
	float:left;
	margin-left:-5px;
	display:inline-block;
}

.personal_homepage_cell_3{
	float:left;
	margin-left:-5px;
	display:inline-block;
}

.personal_homepage_img_div_1{
	width: 70px;
	height: 70px;
	overflow:hidden;
	float: left;
	margin: 5px;
}

.personal_homepage_img_div_2{
	width: 30px;
	height: 70px;
	overflow:hidden;
	float: left;
	margin: 5px;
}

.personal_homepage_img_div_3{
	width: 30px;
	height: 30px;
	overflow:hidden;
	float: left;
	margin: 5px;
}

.personal_homepage_img{
	height: 100%;
}

.personal_homepage_content{
	position: absolute;
	left:125px;
	margin-top: 3px;
	color: #444;
	font-size: 80%;
	word-wrap: break-word; 
	word-break: break-all;
	white-space: normal;
	overflow: hidden;
	height: 80px;
}

.personal_homepage_time_word{
	background-color: #eee;
	margin-left: 50px;
	font-size: 80%;
	color: #444;
	margin-top: 5px;
	padding:4px; 
	word-wrap: break-word; 
	word-break: break-all;
	white-space: normal;
	max-height:84px; 
	overflow: hidden;
}