
<ion-view view-title="详情">
	<ion-nav-bar class="bar-dark">
      <ion-nav-buttons class = "button-icon">
      <button class="button-stable button-clear" ng-click="goback()">
        <i class="ion-ios-arrow-left"></i>{{userBasic.user_name}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="background: #e8ebf1;">
    <div class = "homepage_detail_head">
      <img class = "homepage_detail_head_avatar" ng-src={{userBasic.user_avatar}}>
      <p class = "homepage_detail_head_name">{{userBasic.user_name}}</p>
      <p class = "homepage_detail_head_content">{{InfoItem.txt}}</p>

      <div class = "homepage_detail_head_img_div_list">
        <ul class = "homepage_detail_head_img_cell_list">
          <li class = "homepage_detail_head_img_cell" ng-repeat='img in InfoItem.img track by $index' >
               <img class="full-image"    ng-src="{{img}}">
          </li>
        </ul>
      </div>

      <!-- <span class = "homepage_detail_head_time">{{getstandardtime(InfoItem.ts)}}</span> -->
<!--       <span class = "homepage_detail_head_delete">删除</span> -->

    <!-- <span class = "homepage_detail_head_time">{{getstandardtime(InfoItem.ts)}}</span> -->

    <div class="friendcircle-answer-tab">

      <span class = "homepage_detail_head_time">{{getstandardtime(InfoItem.ts)}}</span>

      <span class="friendcircle-choose" ng-show="showchat">
        <div class = "friendcircle-cell">            
          <a ng-click = "sendheart({{$index}})"><i class="ion-ios-heart-outline"></i>{{heart_tag}}</a>
          <span>|</span>
          <a ng-click = "remark('{{idcache[info.uid].nick}}' )"><i class="ion-social-twitch-outline"></i>评论</a>
        </div>
      </span>
        
      <div class="friendcircle-tab-click" ng-click="clickfun({{$index}})">
        <i class="ion-chatbox-working"></i>
      </div>
    </div>

      <!-- <a class="friendcircle-tab-click" ng-click="clickfun()">
        <i class="ion-chatbox"></i>
      </a> -->
    </div>

    <div class = "homepage_detail_content">
      <div class="friendcircle-answer">
          <p class="friendcircle-first-p">
            <i class="ion-ios-heart-outline"></i>
            <a ng-repeat='id in InfoItem.like track by $index' > {{idcache[id].nick}}</a>
          </p>
          
          <p class="friendcircle-answer-body" ng-repeat='item in InfoItem.reply track by $index'>
            <a>{{idcache[item[0]].nick}}</a>:
            <span ng-bind-html="item[1]"></span>
          </p>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar ng-show = "showremark">
   <label class="item-input-wrapper">
    <input type="text" class = "friendcircle_input" ng-model = "message_detail_send"> 
   </label>
   <button class = "friendcircle_inputbutton" ng-click = "sendremark()">发送</button>
  </ion-footer-bar>
</ion-view>
