<style>
.fadein {
    transition: 2s linear all;
    -webkit-transition: 2s linear all;
    -moz-transition: 2s linear all;
    -o-transition: 2s linear all;
}

.fadein:hover {
  width: 300px;
  height: 300px;
}

.fadein.ng-enter {
  opacity: 0;
}
.fadein.ng-enter.ng-enter-active {
  opacity: 1;
}
</style>
<ion-view view-title="设置">
  <ion-content style="background: #e8ebf1;">

    <div class = "item discover-list" ng-click="about()">
      <p class = "black">
        关于17SALSA
        <i class = "ion-chevron-right discover_right_i"></i>
      </p>
    </div>

    <div class = "item" ng-click="upgrade()">
      <p class = "black">
        升级
        <i class = "ion-chevron-right discover_right_i"></i>
      </p>
      <progress max="100" ng-show="showDownloadProgress" value="{{downloadProgress}}"></progress>
      <span ng-show="showDownloadProgress">更新中：当前进度{{downloadProgress}}%...</span>
    </div>

    <div class = "item discover-list" ng-click="clearStorage()">
      <p class = "black">
        清理17SALSA存储空间
        <i class = "ion-chevron-right discover_right_i"></i>
      </p>
    </div>

    <button class="button button-block button-dark" ng-click="identifyUser()">
      Identify a user
    </button>

    <button class="fadein button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
      Register for Push
    </button>

    <div class = "account-content" ng-click = "logout()">
      <p class = "logout">退出登录</p>
    </div>

  </ion-content>
</ion-view>
