<ion-view view-title="通讯录">
  <ion-content  class="padding">
  <ion-refresher on-refresh="refresh()"></ion-refresher>
  
  	<div class = "ucsearch">
      <input ng-model="query" type="text" placeholder="搜索"/>
    </div>


    <ion-item  class = "contact-ion-list" ng-repeat = "contact in contacts| filter:query" href="#/tab/contact/{{contact.contact_id}}">
 <!--    href="#/contact/{{passcontact(contact.contact_id)}}"> -->
      <div class="contact-list">
      <div class = "contact-list-img">
        <img ng-src="{{contact.contact_img}}">
      </div>

      <div class = "contact-content contact-list-img">
        <p>{{contact.contact_nick}}</p>
      </div>
      </div>
    </ion-item>

  </ion-content>
</ion-view>
