<ion-view view-title="发现">
  <ion-content style="background: #e8ebf1;">

  <div class = "item discover-list" ng-click="gofriendcircle()">
    <p class = "black">
      <i class = "ion-ios-circle-filled discover_i"></i>朋友圈
      <i class = "ion-chevron-right discover_right_i"></i>
    </p>
  </div>

  <div class = "item discover-list" ng-click="gocontact()">
    <p class = "black">
      <i class = "ion-ios-personadd discover_i"></i>联系人
      <i class = "ion-chevron-right discover_right_i"></i>
    </p>
  </div>

  <div class = "item" ng-click="gochat()">
<!--     <a  href="#/discovery/11111111111111111">sss</a>
 -->    
    <p class = "black">
      <i class = "ion-ios-chatboxes discover_i"></i>聊天室
      <i class = "ion-chevron-right discover_right_i"></i>
    </p>
  </div>

  </ion-content>
</ion-view>
