
<ion-view view-title="用户登录">
<ion-nav-bar class="bar-dark">
	<ion-nav-buttons class = "button-icon">
		<button class="button-stable button-clear" ng-click="goevent()">
			<i class = "ion-chevron-left"></i>&nbsp&nbsp返回
	    </button>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-content style="background: #e8ebf1;">

	<div class = "loin_imgdiv">
 	<img  class = "login_img" src="img/17salsa_logo_forappstore180.png" class = 'full-image'>
 	</div>

<!-- 一直没有解决的问题：放上ion-content controller就没有办法控制username -->    
	<form ng-submit="login(username,password)" style='margin-top:20px;padding:20px;'>
		<label class="item item-input">
			<input type="text" placeholder="用户名" ng-model="username">
		</label>
		
		<label class="item item-input">
			<input type="password" placeholder="密码" ng-model="password">
		</label>

    <br />
      <p style="color:red; " ng-show=checklogin>{{errTxt}}</p>

      <button class = "button button-block greenblockbutton" type="submit">登录</button>

    </form>

  </ion-content>
</ion-view>
