<!--
Create tabs with an icon and label, using the tabs-dark style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-stable">

  <ion-tab title="活动" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/event">
    <ion-nav-view name="tab-event"></ion-nav-view>
  </ion-tab>

  <ion-tab title="消息" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>  

<!--   <ion-tab title="SALSA圈" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/friendcircle">
    <ion-nav-view name="tab-friendcircle"></ion-nav-view>
  </ion-tab> -->

 <!--  <ion-tab title="通讯录" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab> -->

  <ion-tab title="发现" icon-off="ion-ios-ionic-outline" icon-on="ion-ionic" href="#/tab/discovery">
    <ion-nav-view name="tab-discovery"></ion-nav-view>
  </ion-tab>
   
<!--   <ion-tab title="聊天室" icon-off="ion-social-twitch-outline" icon-on="ion-social-twitch" href="#/tab/chatroom">
    <ion-nav-view name="tab-chatroom"></ion-nav-view>
  </ion-tab>  -->
  
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account" hidden="false">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
