
<ion-view view-title="活动介绍">
	<ion-nav-bar class="bar-dark">
      <ion-nav-buttons class = "button-icon">
      <button class="button-stable button-clear" ng-click="goback()">
        <i class="ion-ios-arrow-left"></i>返回
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class = "padding">
    <h3 class = "event_detail_title_h3">{{event.event_title}}</h3>
    <img ng-src="{{event.event_img}}" class = "full-image">
    <div class = "event_detail_titel">
    <p>发起人
      <span>{{event.event_people}}</span>
    </p>
    <p>活动类型:
      <span>{{event.event_type}}</span>
    </p>
    <p>活动地点:
      <span>{{event.event_spot}}</span>
    </p>
    <p>活动时间:
      <span>{{getstandardtime(event.event_time)}}</span>
    </p>
    <p>截止报名:
      <span>{{getstandardtime(event.event_ddl)}}</span>
    </p>
    <p>活动人数:
      <span>{{event.event_maxmun}}</span>
    </p>
    <p>需要审核:
      <span>{{event.event_authen}}</span>
    </p>
    <p class = "event_detail_button">
      <button class = "button button-energized button-small">我要参加</button>
      <button class = "button button-energized button-small">我要报名</button>
    </p>

    <hr>

    <p>活动介绍</p>
    <p  class ="event_detail_intro" ng-bind-html="event.event_intro">
     <!--  {{removehtmltab(event.event_intro)}} -->
    </p>
</div>
  </ion-content>
</ion-view>