
<ion-view view-title="{{contact_info.username}}">
	<ion-nav-bar class="bar-dark">
      <ion-nav-buttons class = "button-icon">
      <button class="button-stable button-clear" ng-click="gomessage()">
        <i class="ion-ios-arrow-left"></i>消息
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content style="background: #e8ebf1;">
  <ion-refresher on-refresh="refresh()"></ion-refresher>
  <p class = 'message-detail-empty'>{{message_array.empty}}</p>

    <div ng-repeat='item in messageitem track by $index'>

       <ion-item class = "message-detail-list">
        <img ng-src="{{format_img(item.fid)}}" class = "message-detail-img-{{format_class(item.fid)}}" ng-click="gocontact()">
          <div class = "message-detail-span-{{format_class(item.fid)}}">
            <div class = "arrow-{{format_class(item.fid)}}"></div>
            {{item.txt}}
          </div>
      </ion-item>
    </div>

  </ion-content>

  <ion-footer-bar>
   <label class="item-input-wrapper">
    <input type="text" class = "friendcircle_input" ng-model = "message_detail_send"> 
   </label>
   <button class = "friendcircle_inputbutton" ng-click = "sendmessagedetail()">发送</button>
  </ion-footer-bar>
</ion-view>