
<ion-view view-title="{{messageitem.message_user}}">
	<ion-nav-bar class="bar-dark">
      <ion-nav-buttons class = "button-icon">
      <button class="button-stable button-clear" ng-click="gomessage()">
        <i class="ion-ios-arrow-left"></i>消息
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="background: #e8ebf1;">
  <ion-refresher on-refresh="refresh()"></ion-refresher>
    <div ng-repeat='item in message_array track by $index'>
       <ion-item class = "message-detail-list">
        <img ng-src="{{format_img(item[0],messageitem.message_img)}}" class = "message-detail-img-{{item[0]}}" ng-click="gocontact()">
          <div class = "message-detail-span-{{item[0]}}">
            <div class = "arrow-{{item[0]}}"></div>
            {{item[1]}}
          </div>
      </ion-item>
    </div>

  </ion-content>

  <ion-footer-bar>
   <label class="item-input-wrapper">
    <input type="text" class = "friendcircle_input" ng-model = "message_detail_send"> 
   </label>
   <button class = "friendcircle_inputbutton" ng-click = "sendmessagedetail()">发送</button>
  </ion-footer-bar>
</ion-view>