<ion-view view-title="消息列表">
  <ion-content class="padding">
  <ion-refresher on-refresh="refresh()"></ion-refresher>
  
    <div class = "message-search">
      <input ng-model="query" type="text" placeholder="搜索"/>
    </div>

    <ion-item class="message-list" ng-repeat = "message in messages | filter:query" href="#/message/{{message.message_user_id}}">

      <div class = "message-list-img">
        <img ng-src="{{message.message_img}}">
      </div>

      <div class = "message-content">
        <p class = "message-name">{{message.message_user}}</p>
        <p class = "message-info">{{message.message_array[message.message_array.length-1].content}}</p>
      </div>

      <div class = "message-time">
        <p>{{message.message_publish_time}}</p>
      </div>

    </ion-item>

  </ion-content>
</ion-view>
