<ion-view view-title="我的好友">
  <ion-content style="background: #e8ebf1;" class="padding">
  
  	<div class="list">

	    <a class="item item-avatar" href="#">
	      <img src="img/1.jpg">
	      <h2>么么哒</h2>
	      <p>我的第一个联系人.</p>
	    </a>
	    
	    <a class="item item-avatar" href="#">
	      <img src="img/1.jpg">
	      <h2>芮芮</h2>
	      <p>是我啦.</p>
	    </a>
	    
	    <a class="item item-avatar" href="#">
	      <img src="img/2.jpg">
	      <h2>李教授</h2>
	      <p>这是愤怒的小鸟啊.</p>
	    </a>
	    
	    <a class="item item-avatar" href="#">
	      <img src="img/con4.jpg">
	      <h2>ruirui</h2>
	      <p>那次的泰国菜好难吃.</p>
	    </a>
	
	
	</div>
   <!--  <div class="list card">
      <div class="item item-avatar">
        <img src="img/deploy-header.png">
        <h2>Ionic Deploy</h2>
        <p>
          Easy updates, no resubmission.
        </p>
      </div>
      <div class="item item-body">
        <p>
          The Ionic deploy service makes it possible to ship new updates to your app without going through the app store
          resubmission process. For many changes, Apple allows immediate app updating without resubmission, if the core
          functionality or purpose of the app does not change.  See the docs
          <a href="http://docs.ionic.io/deploy/">here</a> to learn more.
        </p>
        <p>
          This app is currently checking for new code every {{updateMinutes}} minutes.  Try making a small change and uploading it with
          <code>ionic upload</code>.  Once you deploy the change you'll see an option here to load in your new code!
        </p>
        <p>
          Last checked: {{lastChecked | date:'short'}}
        </p>
        <p>
          <div class="button-bar bar-dark">
            <a class="button" ng-click="checkForUpdates()">Check</a>
            <a class="button" ng-click="stopCheckingForUpdates()">Don't check</a>
          </div>
          <button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
            Update
          </button>
        </p>
      </div>
    </div> -->
  </ion-content>
</ion-view>
