<ion-view view-title="我的账号">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/1.jpg">
        <h2>芮妞子</h2>
        <p>
          我是不是要写一个个人简介呢？但是我好懒哦
        </p>
      </div>
      <div class="item item-body">
        <div class="list">
	
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-email"></i>
		    私信
		  </a>
		
		  <a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-chatbubble-working"></i>
		    消息
		    <i class="icon ion-ios-telephone-outline"></i>
		  </a>
		
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-mic-a"></i>
		    语音
		  </a>
		
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-person-stalker"></i>
		    好友请求
		    <span class="badge badge-assertive">0</span>
		  </a>
	
	</div>
      </div>
    </div>
  </ion-content>
</ion-view>
