<ion-view view-title="消息列表">
  <ion-content class="padding">
  <ion-refresher on-refresh="refresh()"></ion-refresher>
  
    <div class = "message-search">
      <input ng-model="query" type="text" placeholder="搜索"/>
    </div>

    <ion-item class="message-list" ng-repeat = "message in messages | filter:query" href="#/message/{{message.fid}}">

      <div class = "message-list-img">
        <img ng-src="{{message.userinfo[message.fid].avatar}}">
      </div>

      <div class = "message-content">
        <p class = "message-name">{{message.userinfo[message.fid].username}}</p>
        <p class = "message-info">{{message.txt}}</p>
      </div>

      <div class = "message-time">
        <p>{{getstandardtime(message.ts)}}</p>
      </div>

    </ion-item>

  </ion-content>
</ion-view>
