<ion-view view-title="ruirui的主页">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/1.jpg">
        <h2>我是芮芮</h2>
        <p>
          我来做一个测试
        </p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/dance.png">
        <p>
          放一张毕业跳的扇子舞吧，其实我可以用这个放好多好多舞蹈的照片是不是～～哈哈哈哈～～～
        </p>
      </div>
    </div>
    
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/1.jpg">
        <h2>我是芮芮</h2>
        <p>
          我再放一张照片，感觉是瀑布流了呢，哈哈哈哈
        </p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/2.jpg">
        <p>
          这个是好多年前的舞蹈照片了，你能猜出哪一个是我么？～～
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
