<ion-view title="朋友圈">
	<ion-nav-bar class="bar-dark">
	    <ion-nav-buttons class = "button-icon">
	    <button class="button-stable button-clear" ng-click="godiscover()">
	      <i class="ion-ios-arrow-left"></i>返回
	    </button>
	  </ion-nav-buttons>
	</ion-nav-bar>
  <!-- <ion-content style="background: #e8ebf1;" class="padding"> -->
  <ion-content class="padding" on-tap="clearclick()">
  	<ion-refresher on-refresh="refresh()"></ion-refresher>
  	<div class = "friendcircle-header">
  		<div class = "friendcircle-header-div">
  			<img ng-src={{userbasic.user_headpic}}>
  		</div>

  		<div class = "friendcircle-header-nickname">
  			<p>{{userbasic.user_name}}</p>
  		</div>

  		<div class = "friendcircle-header-avatar">
  			<img ng-src={{userbasic.user_avatar}} ng-click="gomypage()">
  		</div>

  	</div>
    <!-- <div class="list card" ng-repeat="info in infos"> -->
    <p class = "friendcircle-nostatus">{{content}}</p>
    <div class = "friendcircle-list" ng-repeat="info in infos">
	  <!-- <div class="item item-avatar"> -->
	  <div class="friendcircle-no-border item item-avatar">
	    <img class="friendcircle-square" ng-src="{{info.p[2]}}">
	    <h2 class = "friendcirle-friendname">{{info.p[1]}}</h2>
	    
	    <h3 class = "friendcircle-h3">{{info.txt}}</h3>
	    

	    <div class="row friendcircle-row" >
		    <ul class="friendcircle-cell-list">
	    		<li class="friendcircle-cell-{{formatcell(info.img.length)}}" ng-repeat='imglist in info.img track by $index' >
	    			<img class="full-image"  ng-src="{{imglist}}">
	    		</li>
	    	</ul>
    	</div>
    	
	    <div class="friendcircle-answer-tab">
	     	<span class = "friendcircle-publish-time">{{getstandardtime(info.ts)}}</span>

    		<span class="friendcircle-choose" ng-show="searchclick({{$index}})">
	     		 <a href="#" ng-click = "sendheart()"><i class="ion-ios-heart-outline"></i>{{heart_tag}}</a>
	     		 <span>|</span>
				 <a href="#" ng-click = "remark('{{info.p[2]}}' )"><i class="ion-ios-chatbubble-outline"></i>评论</a>
	     	</span>

		    <a href="#" class="friendcircle-tab-click" ng-click="clickfun({{$index}})">
		      <i class="ion-chatbox"></i>
		    </a>

	    </div>

	    <div class="friendcircle-answer">
	    	<p class="friendcircle-first-p">
	    	  <i class="ion-ios-heart-outline"></i>
	    	  <a ng-repeat='id in info.likelist track by $index' >{{id.username}}</a>
		    </p>
		    
		    <p class="friendcircle-answer-body" ng-repeat='item in info.reply track by $index'>
	    	  <a>{{info.likelist[item[0]].username}}</a>:
	    	  <span>{{item[1]}}</span>
		    </p>
	    </div>

	  </div>
	</div>

  </ion-content>

  <ion-footer-bar ng-show="inputshow">
	 <label class="item-input-wrapper">
	 	<input type="text" class = "friendcircle_input" placeholder="评论" ng-model = "inputContent"> 
	 </label>
	 
	 <button class = "friendcircle_inputbutton" ng-click = "sendremark()">发送</button>
  </ion-footer-bar>
</ion-view>
